@font-face{
    font-family: "Safiro";
    src: url('../safiro-font/safiro-medium.otf') format('opentype');
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}body{
    background-color: #FDD752;
    font-family: 'Safiro', sans-serif;
}
a{
    color: #fff;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7s;
}
.logo{
    width: 100%;
    max-width: 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 0 20px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    margin-left: 30px;
    letter-spacing: 2px;
}
.mobile-menu{
    display: block;
    cursor: pointer;
    z-index: 1000;
}
.mobile-menu div{
    width: 30px;
    height: 2px;
    color: #fff;
    margin: 6px 0;
    transition: 0.3s;
}
main{
    background: #fff;
    height: 94vh;
}
@media(max-width: 999px){
    body{
        overflow: hidden;
    }
    .nav-list{
        position: absolute;
        top: 6vh;
        right: 10px;
        width: 50vw;
        height: 94vh;
        background: #5B2260;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin: 20px;
        opacity: 0;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
   /* HAMBURGER ANIMATION */
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
